<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>llm_intheloop</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="app-container">
      <header id="gnb">
        <div class="nav-container">
          <div class="logo">llm_intheloop</div>
          <nav>
            <ul class="nav-links">
              <li><a href="#" data-target="main.html">Main</a></li>
              <li>
                <a href="#" data-target="howitworks.html">How it works</a>
              </li>
              <li><a href="#" data-target="team.html">Team</a></li>
              <li><a href="#" data-target="faq.html">FAQ</a></li>
            </ul>
          </nav>
          <div class="icons">
            <a
              href="https://github.com/yeahhbean/llm_intheloop"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/img/github_logo1.png" alt="GitHub" />
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="/img/discord_logo1.png" alt="Discord" />
            </a>
            <a
              href="https://gemini.google.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/img/gemini_logo2.png" alt="Gemini" class="big-icon" />
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="/img/ASC_logo.png" alt="ASC" class="big-icon" />
            </a>
          </div>
        </div>
      </header>

      <main class="main-content">
        <header class="page-header">
          <h1>llm_intheloop 팀을 소개합니다</h1>
          <p class="team-overall-description">
            llm_intheloop은 AI 기술을 활용하여 보안 취약점을 분석하고, 더 안전한
            디지털 환경을 만드는 데 기여합니다. 저희 팀을 소개합니다.
          </p>
        </header>

        <section class="team-grid">
          <div class="member-card">
            <img
              src="images/busung.png"
              alt="백부승 프로필 사진"
              class="profile-image"
            />
            <h2 class="member-name">*백부승*</h2>
            <p class="member-role">서버 + DB + API 백엔드</p>
            <p class="member-title-custom">Leader</p>
            <p class="member-description">아이고 부승</p>
            <div class="skills-container">
              <span class="skill-tag">Web hacking</span>
              <span class="skill-tag">---</span>
              <span class="skill-tag">---</span>
            </div>
            <div class="social-links">
              <a
                href="https://busu.ng/"
                title="Who is 백부승"
                class="social-link-text"
                >Who is 백부승</a
              >
              <a
                href="https://busu.ng/"
                title="External Link"
                class="external-link-icon"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </div>
          </div>

          <div class="member-card">
            <img
              src="/img/ye_profile.jpg"
              alt="yebin 프로필 사진"
              class="profile-image"
            />
            <h2 class="member-name">이예빈</h2>
            <p class="member-role">탐지 로직 + 리포트 생성</p>
            <p class="member-title-custom">Member</p>
            <p class="member-description">yeahhb1nn</p>
            <div class="skills-container">
              <span class="skill-tag">WHS 3</span>
              <span class="skill-tag">ASC</span>
              <span class="skill-tag">소프트웨어</span>
            </div>
            <div class="social-links">
              <a href="#" title="Test Scecie" class="social-link-text"
                >Who is 이예빈</a
              >
              <a
                href="https://yeahhb1nn.tistory.com/"
                title="External Link"
                class="external-link-icon"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </div>
          </div>

          <div class="member-card">
            <img
              src="/img/do_profile.jpg"
              alt="dohyun 프로필 사진"
              class="profile-image"
            />
            <h2 class="member-name">박도현</h2>
            <p class="member-role">UI/UX + 테스트</p>
            <p class="member-title-custom">Member</p>
            <p class="member-description">20241924 박도현</p>
            <div class="skills-container">
              <span class="skill-tag">정보보안새싹</span>
              <span class="skill-tag">소프트웨어</span>
              <span class="skill-tag">ASC</span>
            </div>
            <div class="social-links">
              <a href="#" title="Test Scecie" class="social-link-text"
                >Who is 박도현</a
              >
              <a
                href="#"
                title="External Link"
                class="external-link-icon"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </div>
          </div>

          <div class="member-card">
            <img
              src="/img/tae_profile.jpg"
              alt="taehyun 프로필 사진"
              class="profile-image"
            />
            <h2 class="member-name">류태현</h2>
            <p class="member-role">크롤러 + 퍼징엔진</p>
            <p class="member-title-custom">Member</p>
            <p class="member-description">20252752 류태현</p>
            <div class="skills-container">
              <span class="skill-tag">사이버보안새싹</span>
              <span class="skill-tag">CTF도전자</span>
              <span class="skill-tag">정보보안전공</span>
            </div>
            <div class="social-links">
              <a href="#" title="Test Scecie" class="social-link-text"
                >Who is 류태현</a
              >
              <a
                href="https://arkazq.tistory.com/"
                title="External Link"
                class="external-link-icon"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script>
      let lastScroll = 0;
      const gnb = document.getElementById("gnb");

      window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;

        if (currentScroll > lastScroll && currentScroll > 100) {
          // 아래로 스크롤하면 숨김
          gnb.style.top = "-100px";
        } else {
          // 위로 스크롤하면 보임
          gnb.style.top = "0";
        }

        lastScroll = currentScroll;
      });
    </script>
    <script src="/js/dynamic.js"></script>
  </body>
</html>
